.label {
  flex: 190px;
  color: rgb(0, 0, 0);
}
.container_block {
  // height: 500px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .row {
    height: 100%;
    width: 100%;
  }
  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 500px) {
    .form-group {
      display: block;
    }
  }
}
