.main {
  min-height: 120vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  padding-top: 180px;
  padding-bottom: 50px;

  input,
  textarea,
  li {
    border: 1px solid black !important;
  }
  .group-side {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    .left-side {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .wrapper-view {
      height: fit-content;
      width: 1000px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      .view-page {
        min-height: 500px;
        background-color: #ffffff;
        width: 100%;
        border-radius: 20px;
        margin-bottom: 50px;
        overflow: auto;
      }
    }
    .right-side {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  .bottom-side {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    height: 100px;
    width: 120px;
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    border-radius: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    &:hover {
      color: white;
      background-color: black;
      border: 3px solid rgb(255, 255, 255);
    }
  }
}
