.label {
  flex: 100px;
}
.container-block {
  width: 60%;
  .row {
    background-color: aquamarine;
    padding: 50px;
    border-radius: 10px;
  }
  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
